<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <variable name="logLayout" value="[${longdate}][${logger}][${level}]${message}" />
  <targets async="true">
    <target name="file" 
            xsi:type="File" 
            fileName="${basedir}/logs/${shortdate}.txt" 
            keepFileOpen="false" 
            layout="${logLayout}" />
    <target name="console" xsi:type="ColoredConsole" encoding="utf-8" layout="${logLayout}">
      <highlight-row foregroundColor="DarkRed" condition="level == LogLevel.Fatal"/>
      <highlight-row foregroundColor="Red" condition="level == LogLevel.Error"/>
      <highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn"/>
      <highlight-row foregroundColor="White" condition="level == LogLevel.Info"/>
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Debug"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>